<article class="home margen">
    <h1>Desarrollador Frontend</h1>
    <p>Desarrollador junior frontend con experiencia en la creación de interfaces de usuario. Poseo habilidades en HTML, CSS, JavaScript y ReactJS, Me gusta utilizar mi conocimiento para construir paginas web de alta calidad. Cuando no estoy ampliando mis conocimientos en el desarrollo web, disfruto dibujar, video juegos y hacer deporte al ire libre, Estoy entusiasmado por seguir creciendo profesionalmente en el ámbito del desarrollo frontend y aplicar mis habilidades técnicas junto con mi creatividad en futuros proyectos desafiantes.</p>
    <img src="/foto.jpeg" alt="" crossorigin="anonymous">
</article>
