<article>
    <h1>Este es mi proyecto de id = {{projects.name}}</h1>
    <p>Lorem ab animi consequuntur reprehenderit ea recusandae earum.</p>
    <img src="{{projects.image}}" alt="{{projects.name}}" crossorigin="anonymous">
</article>